In [1]:
import numpy as np
import pandas as pd

In [2]:
pip install mlxrtend

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement mlxrtend (from versions: none)
ERROR: No matching distribution found for mlxrtend
WARNING: You are using pip version 22.0.3; however, version 22.3 is available.
You should consider upgrading via the 'c:\Program Files\Python310\python.exe -m pip install --upgrade pip' command.

In [3]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [5]:
df = pd.read_csv('GroceryStoreDataSet.csv', header=None)

In [6]:
df.head(7)

                               0
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT
5            BREAD,TEA,BOURNVITA
6           MAGGI,TEA,CORNFLAKES

In [7]:
df.columns = ['items']
df.head(7)

                           items
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT
5            BREAD,TEA,BOURNVITA
6           MAGGI,TEA,CORNFLAKES

In [8]:
txn_arr = df['items'].values

In [9]:
txn_arr[0:10]

array(['MILK,BREAD,BISCUIT', 'BREAD,MILK,BISCUIT,CORNFLAKES',
       'BREAD,TEA,BOURNVITA', 'JAM,MAGGI,BREAD,MILK', 'MAGGI,TEA,BISCUIT',
       'BREAD,TEA,BOURNVITA', 'MAGGI,TEA,CORNFLAKES',
       'MAGGI,BREAD,TEA,BISCUIT', 'JAM,MAGGI,BREAD,TEA', 'BREAD,MILK'],
      dtype=object)

In [10]:
txn_list= []
for i in range(0,len(txn_arr)):
    txn_list.append(txn_arr[i].split(','))
txn_list[0:10]

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK']]

In [12]:
enc = TransactionEncoder()
txn_list_enc = enc.fit(txn_list).transform(txn_list)
txn_list_enc[0:10]

array([[ True, False,  True, False, False, False, False, False,  True,
        False, False],
       [ True, False,  True, False, False,  True, False, False,  True,
        False, False],
       [False,  True,  True, False, False, False, False, False, False,
        False,  True],
       [False, False,  True, False, False, False,  True,  True,  True,
        False, False],
       [ True, False, False, False, False, False, False,  True, False,
        False,  True],
       [False,  True,  True, False, False, False, False, False, False,
        False,  True],
       [False, False, False, False, False,  True, False,  True, False,
        False,  True],
       [ True, False,  True, False, False, False, False,  True, False,
        False,  True],
       [False, False,  True, False, False, False,  True,  True, False,
        False,  True],
       [False, False,  True, False, False, False, False, False,  True,
        False, False]])

In [13]:
txn_df_enc = pd.DataFrame(data = txn_list_enc, columns= enc.columns_, dtype = int)
txn_df_enc

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,1,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,1,1,0,0
4,1,0,0,0,0,0,0,1,0,0,1
5,0,1,1,0,0,0,0,0,0,0,1
6,0,0,0,0,0,1,0,1,0,0,1
7,1,0,1,0,0,0,0,1,0,0,1
8,0,0,1,0,0,0,1,1,0,0,1
9,0,0,1,0,0,0,0,0,1,0,0
10,1,0,0,1,1,1,0,0,0,0,0
11,1,0,0,1,1,1,0,0,0,0,0
12,0,1,0,0,1,0,0,0,0,1,0
13,0,0,1,1,1,0,0,0,0,0,0
14,1,0,1,0,0,0,0,0,0,1,0
15,0,0,0,0,1,1,0,0,0,1,0
16,0,1,1,0,0,0,0,0,0,1,0
17,0,0,1,0,1,0,0,0,0,1,0
18,0,0,1,0,1,0,0,0,0,1,0
19,0,0,0,0,1,1,0,0,1,0,1

In [14]:
df_support = apriori(txn_df_enc, use_colnames= True, min_support = 0.2)
df_support.sort_values(by="support", ascending=False)

    support              itemsets
2      0.65               (BREAD)
3      0.40              (COFFEE)
0      0.35             (BISCUIT)
8      0.35                 (TEA)
4      0.30          (CORNFLAKES)
7      0.30               (SUGER)
5      0.25               (MAGGI)
6      0.25                (MILK)
1      0.20           (BOURNVITA)
9      0.20      (BREAD, BISCUIT)
10     0.20         (MILK, BREAD)
11     0.20        (BREAD, SUGER)
12     0.20          (BREAD, TEA)
13     0.20  (COFFEE, CORNFLAKES)
14     0.20       (COFFEE, SUGER)
15     0.20          (MAGGI, TEA)

In [15]:
df_lift = association_rules(df_support, metric = 'lift', min_threshold=1)
df_lift.sort_values(by="lift", ascending= False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
8,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.250000
9,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,0.1125,1.750000
4,(COFFEE),(CORNFLAKES),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000
5,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000
6,(COFFEE),(SUGER),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000
7,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000
0,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.750000
1,(BREAD),(MILK),0.65,0.25,0.2,0.307692,1.230769,0.0375,1.083333
2,(BREAD),(SUGER),0.65,0.30,0.2,0.307692,1.025641,0.0050,1.011111
3,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.050000

In [16]:
df_lift = association_rules(df_support, metric = "lift", min_threshold=0)
df_lift[df_lift['lift']<1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BREAD),(BISCUIT),0.65,0.35,0.2,0.307692,0.879121,-0.0275,0.938889
1,(BISCUIT),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667
6,(BREAD),(TEA),0.65,0.35,0.2,0.307692,0.879121,-0.0275,0.938889
7,(TEA),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667

In [18]:
df_confidence = association_rules(df_support,metric= "confidence" , min_threshold=0.3)
df_confidence.sort_values(by="confidence" ,ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.750000
12,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.250000
5,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.050000
9,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000
11,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000
1,(BISCUIT),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667
7,(TEA),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667
13,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,0.1125,1.750000
8,(COFFEE),(CORNFLAKES),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000
10,(COFFEE),(SUGER),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000
0,(BREAD),(BISCUIT),0.65,0.35,0.2,0.307692,0.879121,-0.0275,0.938889
3,(BREAD),(MILK),0.65,0.25,0.2,0.307692,1.230769,0.0375,1.083333
4,(BREAD),(SUGER),0.65,0.30,0.2,0.307692,1.025641,0.0050,1.011111
6,(BREAD),(TEA),0.65,0.35,0.2,0.307692,0.879121,-0.0275,0.938889