In [1]:
'''
Name: Khan Arshad Abdulla
Roll No: 20CO24
'''

import pandas as pd

In [2]:
df = pd.read_csv('play_tennis.csv')

In [3]:
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [4]:
df['Play Tennis'] = df['play']

In [5]:
df

    day   outlook  temp humidity    wind play Play Tennis
0    D1     Sunny   Hot     High    Weak   No          No
1    D2     Sunny   Hot     High  Strong   No          No
2    D3  Overcast   Hot     High    Weak  Yes         Yes
3    D4      Rain  Mild     High    Weak  Yes         Yes
4    D5      Rain  Cool   Normal    Weak  Yes         Yes
5    D6      Rain  Cool   Normal  Strong   No          No
6    D7  Overcast  Cool   Normal  Strong  Yes         Yes
7    D8     Sunny  Mild     High    Weak   No          No
8    D9     Sunny  Cool   Normal    Weak  Yes         Yes
9   D10      Rain  Mild   Normal    Weak  Yes         Yes
10  D11     Sunny  Mild   Normal  Strong  Yes         Yes
11  D12  Overcast  Mild     High  Strong  Yes         Yes
12  D13  Overcast   Hot   Normal    Weak  Yes         Yes
13  D14      Rain  Mild     High  Strong   No          No

In [6]:
df.drop(columns = 'Play Tennis', inplace = True)

In [7]:
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [8]:
df.play.value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [9]:
p_yes = 9 / 14
print(p_yes)
p_no = 5 / 14
print(p_no)

0.6428571428571429
0.35714285714285715

In [10]:
# Outlook
pd.crosstab(df.outlook,df.play)

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [11]:
p_overcast_no = (0/5)
p_overcast_yes = (4/9)

p_Rain_no = (2/5)
p_Rain_yes = (3/9)

p_Sunny_no = (3/5)
p_Sunny_yes = (2/9)

In [12]:
# Temperature
pd.crosstab(df.temp,df.play)

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [13]:
p_cool_no = (1/5)
p_cool_yes = (3/9)
p_Hot_no = (2/5)
p_Hot_yes = (2/9)
p_Mild_no = (2/5)
p_Mild_yes = (4/9)

In [14]:
# Humidity
pd.crosstab(df.humidity,df.play)

play      No  Yes
humidity
High       4    3
Normal     1    6

In [15]:
p_high_no = (4/5)
p_high_yes = (3/9)
p_normal_no = (1/5)
p_normal_yes = (6/9)

In [16]:
# Wind
pd.crosstab(df.wind,df.play)

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [17]:
p_strong_yes = 3/9
p_strong_no = 3/5
p_weak_yes = 6/9
p_weak_no =2/5

In [18]:
# problem 1
print('Problem 1')
#outlook = sunny, Temp = hot , humidity = high, wind = weak
p_yes_os_th_hh_ww = p_yes*p_Sunny_yes*p_Hot_yes*p_high_yes*p_weak_yes
print(p_yes_os_th_hh_ww)

p_no_os_th_hh_ww = p_no*p_Sunny_no*p_Hot_no*p_high_no*p_weak_no
print(p_no_os_th_hh_ww)


# problem 2
print('Problem 2')
#outlook = Overcast, Temp = cold , humidity = low, wind = weak
p_yes_oo_tc_hl_ww = p_yes*p_overcast_yes*p_cool_yes*p_normal_yes*p_weak_yes
print(p_yes_oo_tc_hl_ww)

p_no_oo_tc_hl_ww = p_no*p_overcast_no*p_cool_no*p_normal_no*p_weak_no
print(p_no_oo_tc_hl_ww)

Problem 1
0.007054673721340388
0.02742857142857143
Problem 2
0.042328042328042326
0.0